<div class="card single-idea-card">
    <h5 class="card-header card-title">{{idea.title}}<div class="float-right idea-score">{{idea.points}}</div>
    </h5>
    <div class="card-body">
        <p class="card-text">{{idea.body}}</p>
        <p class="card-text card-subtitle">{{idea.createdAt}}</p>
    </div>
</div>

<hr>

{{#if this.comments}}
{{#each this.comments}}

<div class="card" style="background-color: #eee; margin-bottom: 5px;">
    <div class="card-body">
        <p class="card-text">{{this.body}}</p>
        <p class="card-text card-subtitle">{{this.createdAt}}</p>
    </div>
</div>

{{/each}}
{{/if}}

<hr>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <label for="body">Comment</label>
            <textarea class="form-control comment-form" rows="6" id="comment-body"
                placeholder="Enter comment"></textarea>
        </div>
    </div>
    {{!-- <div class="col-md-6 col-sm-hidden"></div> <!--Fills out col-md-6 above, disappears on mobile--> --}}
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 text-center button-cont">
        <button type="button" class="btn btn-danger comment-button" data-id={{idea.id}} data-points={{idea.points}}>
            <a href="#" class="card-link"><i class="far fa-arrow-alt-circle-down fa-2x comment-button"></i></a>
        </button>
    </div>
    <div class="col-lg-3 col-md-6 text-center button-cont">
        <button type="button" class="btn btn-success comment-button" data-id={{idea.id}} data-points={{idea.points}}
            data-upordown=true>
            <a href="#" class="card-link"><i class="far fa-arrow-alt-circle-up fa-2x comment-button"></i></a>
        </button>
    </div>
    <div class="col-lg-6 col-md-hidden"></div>
    <!--Fills out col-md-6 above, disappears on mobile-->
</div>
<div class="row">
    <div class="col-md-12 warning-div"></div>
</div>

{{!-- These are the up and down arrows
<a href="#"><i class="far fa-arrow-alt-circle-up fa-4x"></i></a>
<a href="#"><i class="far fa-arrow-alt-circle-down fa-4x"></i></a>
     --}}


<br><br><br>