<div class="card">
<h5 class="card-header card-title">{{idea.title}}</h5>
    <div class="card-body">
        <p class="card-text">{{idea.body}}</p>
        <p class="card-text card-subtitle">{{idea.createdAt}}</p>
        <a href="#" class="card-link"><i class="far fa-arrow-alt-circle-up fa-2x"></i></a>
        <a href="#" class="card-link"><i class="far fa-arrow-alt-circle-down fa-2x"></i></a>    </div>
    </div>
</div>

{{#if this.Comments}}
{{#each this.Comments}}

<div class="card">
    <div class="card-body">
        <p class="card-text">{{this.body}}</p>
        <p class="card-text card-subtitle">{{this.createdAt}}</p>
        <a href="#" class="card-link"><i class="far fa-arrow-alt-circle-up"></i></a>
        <a href="#" class="card-link"><i class="far fa-arrow-alt-circle-down"></i></a>    </div>
    </div>
</div>

{{/each}}
{{/if}}