    {{#each idea}}
    <div class="card float-left idea-card">
      <div class="card-body">
        <div class="card-top">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.body}}</p>
        </div>
        <div class="card-bottom">
          <hr class="hr-strong">
          <h6 class="card-subtitle mb-2 text-muted">{{this.createdAt}}</h6>
          <a href="/idea/{{this.id}}" class="card-link"><i class="far fa-comment-dots fa-2x"></i></a>
          {{!-- <a href="#" class="card-link"><i class="far fa-arrow-alt-circle-up fa-2x"></i></a>
          <a href="#" class="card-link"><i class="far fa-arrow-alt-circle-down fa-2x"></i></a> --}}
          <h6 class="card-score float-right" style="color: green">+{{this.points}}</h6>
        </div>
      </div>
    </div>

{{!-- <form class="form">
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="commentText" name="text" placeholder="Enter Comment Here" required \>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <button type="submit" class="button subButton comment" style="margin:0px auto; display:block"
        data-id="{{this.id}}" data-upOrDown=true data-points="{{this.points}}">Submit Up Vote</button>
    </div>
    <div class="col-md-4">
      <button type="submit" class="button subButton remove" style="margin:0px auto; display:block"
        data-id="{{this.id}}">Delete this Idea</button>
    </div>
    <div class="col-md-4">
      <button type="submit" class="button subButton comment" style="margin:0px auto; display:block"
        data-id="{{this.id}}" data-points="{{this.points}}">Submit Down Vote</button>
    </div>
  </div>

</form> --}}

{{/each}}
